@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

body {
    height: 100vh;
    overflow: hidden;
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
}
