* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Super Plants";
  src: url("../assets/fonts/super_plants.ttf");
}
.banner {
  height: 100vh;
  display: flex;
  padding: 0 10rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  width: 6.85rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.logo img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 3px 3px 15px -5px #f5f5f5;
  animation: move-logo 10s linear infinite;
}
.logo__title {
  width: 100%;
  color: #f5f5f5;
  font-size: 1rem;
  text-align: center;
}

@keyframes move-logo {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center;
  align-items: center;
}
.navbar__list {
  border: 1px solid #f5f5f5;
  border-radius: 2vh 0 0 2vh;
  border-right: none;
  padding: 2rem;
  display: flex;
  gap: 2.5vw;
}
.navbar__item a {
  font-size: 1.2rem;
  color: #fa8072;
  text-shadow: 0 0 15px white;
}
.navbar__item a:hover {
  color: #f5f5f5;
}
.navbar__item--active a {
  color: #f5f5f5;
}

.banner__image {
  width: 20%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 5rem;
  height: 100vh;
}
.banner__image__sun {
  height: 18.75rem;
  width: 18.75rem;
  position: absolute;
  animation: sun-move 20s linear infinite;
  z-index: 100;
}
.banner__image__earth {
  position: absolute;
  width: 2.8125rem;
  height: fit-content;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.75));
  animation: earth-move 10s linear infinite;
}

@keyframes sun-move {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}
@keyframes earth-move {
  0% {
    transform: translateY(10px) scale(1.5);
    z-index: 101;
  }
  15% {
    z-index: 101;
  }
  25% {
    transform: translateX(150px) translateY(0px);
    z-index: 99;
  }
  50% {
    transform: translateX(0) translateY(0px) scale(1);
    z-index: 99;
  }
  75% {
    transform: translateX(-150px) translateY(0px) scale(1);
    z-index: 99;
  }
  85% {
    z-index: 101;
  }
  100% {
    transform: translateX(0px) translateY(10px) scale(1.5);
    z-index: 101;
  }
}
.banner__text {
  height: 100vh;
  padding: 2rem;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  z-index: 1001;
}
.banner__text article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner__text__title {
  font-size: 1.7rem;
  color: #fa8072;
  filter: drop-shadow(0 0 10px #b1770a);
}
.banner__text__description {
  color: #f5f5f5;
}

.banner__text__button {
  padding: 0.4rem 1rem;
  margin: 1.5rem 0;
  background: linear-gradient(90deg, #fa8072, #a52a2a);
  border: none;
  border-radius: 4vh;
  box-shadow: 1px 1px 30px -20px #a52a2a;
  font-size: 1rem;
  color: #f5f5f5;
  cursor: pointer;
}
.banner__text__button:hover {
  box-shadow: 2px 2px 30px -5px #a52a2a;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

footer {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
}
footer .copyright {
  color: #f5f5f5;
}

header {
  width: 100%;
  height: 6.25rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 1rem;
  z-index: 1000;
}

main {
  position: absolute;
  top: 0;
}/*# sourceMappingURL=main.css.map */