@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

footer {
    position: absolute;
    right: var.$spacing-mid;
    bottom: var.$spacing-mid;

    .copyright {
        color: var.$color-white;
    }

}
