@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;


.asistance {
    display: flex;
    flex-direction: column;
    background: var.$color-primary;
    padding: var.$spacing-xxl;
    border-radius: var.$border-radius-sm;
    border: var.$border-general solid var.$color-secondary;

    &__title {
        color: var.$color-secondary;
        font-size: var.$font-size-xxl;
        padding: var.$spacing-md;
        border-bottom: 2px solid var.$color-secondary;
    }

}
.asistance__form {
    display: flex;
    flex-direction: column;

    &__label {
        color: var.$color-secondary;
        padding-top: var.$spacing-md;
        padding-bottom: var.$spacing-xs;
        font-weight: bold;
        font-size: var.$font-size-lg;
    }

    &__input {
        border: var.$border-general solid var.$color-secondary;
        border-radius: var.$border-radius-xs;
        padding: var.$spacing-xs;
        margin-bottom: var.$spacing-xs;
        font-size: var.$font-size-md;
    }

    &__button {
        background: var.$color-tertiary;
        border: var.$border-general solid var.$color-secondary;
        border-radius: var.$border-radius-xs;
        padding: var.$spacing-xs;
        margin-top: var.$spacing-md;
        cursor: pointer;
        font-size: var.$font-size-md;

        &:hover {
            background: var.$color-quaternary; // Reutilizado como color-primary
        }
    }

    &__message {

        &--error {
            color: var.$color-danger-500;
        }

        &--success {
            color: var.$color-success-500;
        }
    }
}

.hidden {
    display: none;
}
