@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.banner__text__button {
        padding: var.$padding-button;
        margin: var.$margin-button;
        background: var.$color-background-button;
        border: none;
        border-radius: var.$radius-button;
        box-shadow: var.$shadow-button;
        font-size: var.$font-sm;
        color: var.$color-white;
        cursor: pointer;
        

        &:hover {
            box-shadow: var.$shadow-button-hover;
        }
    }