* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: 16px;
}

header, footer {
    background-color: #523249;
    color: #f5f5f5;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction:row;
    align-content: stretch;
}

main {
    order: 2;
    padding: 1.5vw;
    background-color: #CBD4C2;
}

.gallery h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.gallery div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.45vw;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 17.86vw;
    border: 0.05rem solid black;
    border-radius: 0.5rem;
}

.card img {
    width: 100%;
    border-radius: 0.5rem;
}

.card h3 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.card-gender {
    margin-right: 0.5rem;
    font-size: 1rem;
    font-style: italic;
    text-align: right;
}

.card-description {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    text-align: justify;
}

.card-price {
    margin-left: 0.5rem;
    font-weight: bold;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    padding: 0.25rem 0;
    font-size: 1.25rem;
}

footer iframe {
    border: 1px solid #f5f5f5;
}

#contact-info {
    align-content: center;
}
table {
    width: 100%;
    margin-left: 4rem;
    text-align: justify;
    align-content: center;
}



/* ********************** MEDIA QUERIES ********************** */
/* Breakpoint: La ventana puede tener un ancho igual o inferior que 1024px */
@media (max-width: 1024px) {
    .card {
        width: 24.15vw;
    }
}

/* Breakpoint: La ventana puede tener un ancho igual o inferior que 768px */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }


    main {
        width: 100%;
    }

    .card {
        width: 46.25vw;
        padding-bottom: 2.5vw;
    }

    .card div h3,
    .card div p {
        font-size: 0.95rem;
    }

    footer p {
        font-size: 1.15rem;
    }

    footer iframe {
        width: 93vw;
        margin: 0 2.5vw 0 2.5vw;
    }
}

/* Breakpoint: La ventana puede tener un ancho igual o inferior que 576px */
@media (max-width: 576px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
    }

    .card {
        width: 100%;
        padding-bottom: 5vw;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1.25rem;
    }

    footer p {
        font-size: 1rem;
    }
}