@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  width: 100vw;
  height: 90vh;
  background-color: #1E1E2E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;

  flex-wrap: wrap;
  animation: slideUp 0.8s ease-out;
}

.header-wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;

 
  animation: slideUp 0.7s ease-out;
}

.header-wrapper > nav {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 30px;
  padding-right: 50px;
  gap: 4%;
  animation: slideUp 1s ease-out;
}

.sobre-mi___parrafo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUp 1.4s ease-out;
}

.nav___item {
  font-size: 30px;
  text-decoration-line: none;
  color: #82AAFF;
  animation: slideUp 1.6s ease-out;
  transition: all ease 0.2s;
}

.section___image {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  animation: slideUp 1.8s ease-out;
}

.image___container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUp 2s ease-out;
}

.image___container > img {
  width: 100%;
  height: 100%;
  max-width: 320px;
  min-width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 5px #82AAFF;
  animation: slideUp 2.2s ease-out;
}

.section___sobre-mi {
  width: 45%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  animation: slideUp 2.4s ease-out;
  padding-top: 15px;
}

.sobre-mi___parrafo-container {
  font-size: 2rem;
  display: flex;
  justify-content: start;
  align-items: start;
  font-style: italic;
  line-height: 1.2;
  color: #E0E0E0;
  padding-top: 15px;
  animation: slideUp 2.6s ease-out;


}

.section___personal-data {
  width: 50%;
  height: 45%;
  display: flex;
  flex-direction: column;
  color: #E0E0E0;
  align-items: center;
  padding: 10px;
  animation: slideUp 2.6s ease-out;
}

.section___personal-data > h2 {
font-size: 3.2rem;
  margin-bottom: 15px;
  animation: slideUp2.2.6s ease-out;
  margin-bottom: 18px;
  color: #2e55aa;
  
  text-shadow: 0 0 1px #adc6ff
  ;
}

.section___personal-data > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation: slideUp 3.2s ease-out;
}

.section___personal-data > ul > li {
  font-size: 200%;
  text-align: justify;
  animation: slideUp 3.4s ease-out;
}

.nav___item:hover {
  color: rgb(198, 216, 255);
  transform: translateY(-3px);
  
}

.section___formacion {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  animation: slideUp 2s ease-out;
}

.section___habilidades {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  animation: slideUp 2s ease-out;
}

.section___habilidades > h2 {
  color: #adc6ff;
  display: block;
  width: 100%;
  height: 30%;
  text-align: start;
  font-size: 40px;
  margin-bottom: 20px;
  animation: slideUp 3s ease-out;
}

.section___formacion > h2 {
  color: #adc6ff;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  animation: slideUp 3s ease-out;
}

.section___formacion > ul {
  color: #E0E0E0;
  font-size: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  animation: slideUp 3s ease-out;
}

article > ul {
  color: #E0E0E0;
  font-size: 25px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  animation: slideUp 4.6s ease-out;
}

article > h3 {
  font-size: 30px;
  color: #E0E0E0;
  margin-bottom: 20px;
  color: #2e55aa;
  animation: slideUp 4.8s ease-out;
}

.experiencia-laboral___titulo {
  display: block;
  text-align: start;
  color: #ceddff;
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  left: 20px;
  animation: slideUp 5s ease-out;
}

.puesto___empresa {
  font-size: 20px;
  font-style: italic;
  color: #adc6ff;
  margin-bottom: 10px;
  animation: slideUp 5.2s ease-out;
}

footer {
  margin-top: 20px;
  width: 100%;
  animation: slideUp 5.4s ease-out;
}
