@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: #333333;
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: max-content 1fr max-content;
}


header {
    font-family: Alegreya SC;
    grid-area: header;
    background-image: linear-gradient( #52523d, #333333 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
}



main {
    grid-area: main;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
}

footer {
    grid-area: footer;
    background-color: #454939;
    text-align: center;
}

footer p {
    color: #f5f5f5;
    padding: 1rem;
}

.title {
    text-align: center;
}
h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 25px #f5f5f5;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

p {
    font-size: 1rem;
    text-align: justify;
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    padding: 1rem;
    border: 2px solid #a9a99f;
    border-radius: 0.5rem;
    background-image: linear-gradient(#fbfbfb, #dedede);
    gap: 1rem;
}

.modal-content1,
.modal-content2,
.modal-content3,
.modal-content4,
.modal-content5,
.modal-content6,
.modal-content7,
.modal-content8,
.modal-content9,
.modal-content10,
.modal-content11 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-more {
    display: flex;
}

.show-less {
    display: none;
}

.show-less:hover, .show-more:hover  {
    font-weight: bold;
}

#modal-toggle1:checked~.modal-content1,
#modal-toggle2:checked~.modal-content2,
#modal-toggle3:checked~.modal-content3,
#modal-toggle4:checked~.modal-content4,
#modal-toggle5:checked~.modal-content5,
#modal-toggle6:checked~.modal-content6,
#modal-toggle7:checked~.modal-content7,
#modal-toggle8:checked~.modal-content8,
#modal-toggle9:checked~.modal-content9,
#modal-toggle10:checked~.modal-content10,
#modal-toggle11:checked~.modal-content11 {
    -webkit-line-clamp: none;
    line-clamp: none;
    overflow: visible;
}

#modal-toggle1:checked~.show-less,
#modal-toggle2:checked~.show-less,
#modal-toggle3:checked~.show-less,
#modal-toggle4:checked~.show-less,
#modal-toggle5:checked~.show-less,
#modal-toggle6:checked~.show-less,
#modal-toggle7:checked~.show-less,
#modal-toggle8:checked~.show-less,
#modal-toggle9:checked~.show-less,
#modal-toggle10:checked~.show-less,
#modal-toggle11:checked~.show-less {
    display: flex;
}

#modal-toggle1:checked~.show-more,
#modal-toggle2:checked~.show-more,
#modal-toggle3:checked~.show-more,
#modal-toggle4:checked~.show-more,
#modal-toggle5:checked~.show-more,
#modal-toggle6:checked~.show-more,
#modal-toggle7:checked~.show-more,
#modal-toggle8:checked~.show-more,
#modal-toggle9:checked~.show-more,
#modal-toggle10:checked~.show-more,
#modal-toggle11:checked~.show-more  {
    display: none;
}


@media (max-width: 1260px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    body {
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
        grid-template-columns: 2fr;
    }

    h1 {
        font-size: 2.5rem;
    }

    .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .articles {
        grid-template-columns: 1fr;
    }
}